/* Estilos gerais para o body */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #000000;
}

/* Cabeçalho com degradê de cores verde, amarelo e azul */
.header-bar {
    background: linear-gradient(to right, #113f75, #009639, #FDD835);
    padding: 20px 0;
    color: white;
    text-decoration: none;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    text-decoration: none;
}

.navbar h1 {
    font-size: 28px;
    margin: 0;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar nav ul li {
    margin-right: 20px;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar nav ul li a:hover {
    color: #fcd116; /* Amarelo */
}

/* Estilo para a navegação */
.navbar nav ul li a {
    color: #fff;
    }
    
.navbar nav ul li a:hover {
    color:#06284e;
    }

/* Estilos para a seção de informações dos artistas */
.mpb-info {
    padding: 40px 20px;
    background-color: #fff;
}

.mpb-info h2 {
    font-size: 36px;
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
}

.artist {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 45px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-left: 8px solid #009c3b; /* Verde para destacar cada bloco */
    transition: box-shadow 0.3s, transform 0.3s;
}

.artist:hover {
    transform: scale(1.02);
    background-color: #e9e9e9;
    transition: 0.5s;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.artist h3 {
    font-size: 26px;
    color: #0a274d;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.artist img.artist-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    border: 2px solid #00a1e6; /* Azul */
}

.album-img {
    max-width: 50%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
    border: 2px solid #fcd116; /* Amarelo */
}

album-img :hover{
    max-width: 50%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
    border: 2px solid #fcd116; /* Amarelo */
}

.album-imgrit{
    border: none;
    border-radius: none;
}

.album-imgcrt{
    border: none;
    border-radius:8px;
}

.artist p {
    font-size: 16px;
    line-height: 1.8;
    margin-top: 10px;
}

.artist p strong {
    font-weight: bold;
}

.artist p a {
    color: #00a1e6; /* Azul para links */
    text-decoration: none;
}

.artist p a:hover {
    text-decoration: underline;
}


/* Responsividade */
@media (max-width: 768px) {
    .navbar h1 {
        font-size: 24px;
    }

    .navbar nav ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar nav ul li {
        margin: 10px 0;
    }

    .artist {
        padding: 15px;
    }

    .artist h3 {
        font-size: 22px;
    }

    .artist p {
        font-size: 14px;
    }
}

.logo{
    text-decoration: none;
    color: #ffff;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffe227; /* Cor verde */
    color: rgb(80, 102, 0);
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    z-index: 9999; 
    text-decoration: none;
}

.back-to-top:hover {
    background-color: #a2ff51; /* Cor verde mais escura */
    text-decoration: none;
    z-index: 10000; /* Garante que o botão fique ainda mais destacado quando estiver sendo hoverizado */
}


/* Estilos do Rodapé */
.footer {
    background-color: #022675;
    color: #ffffff;
    padding: 15px 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: block; /* Garante que o rodapé ocupe toda a largura */
    width: 100%; /* Faz o rodapé ocupar 100% da largura */
    position: relative; /* Garante que o rodapé seja posicionado de forma correta */
    bottom: 0; /* Alinha o rodapé no fundo da página */
}

/* Estilos do conteúdo do rodapé */
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza os itens no rodapé */
    margin-bottom: 10px;
}

/* Estilos da logo */
.footer-logo {
    height: 40px; /* Altura da logo */
    width: auto;
    margin-right: 10px; /* Espaço entre a logo e o texto */
}

/* Estilos do texto */
.footer-text {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.footer-text strong {
    color: #FFD700; /* Destaca a palavra "BraSil" com uma cor dourada */
}
